.v-tab {
  font-size: 13px;
  border-radius: 2px;
  letter-spacing: normal;
  text-transform: none;
}

.v-slide-group__content.v-tabs-bar__content {
  border-bottom: 1px solid #c9c9c9;
}

.card-table.v-card.v-sheet.theme--light {
  border: none;
  padding: 10px 0;
}