@media print {

  @page { 
    size: landscape; 
  }

  body {
    transform: scale(.98);
    margin:0;
    padding:0;
    line-height: 1.4em;
  }

  .col-md-3 {
    max-width: 20% !important;
  }

  .bloco-expansivel-td {
    height: fit-content !important;
  }
  
  .card-expedicao, .card-expedicao div, 
  .card-devolucao, .card-devolucao div,
  .card-medicao, .card-medicao div {
    page-break-inside: avoid !important;
    break-inside: avoid !important;
    page-break-before: auto !important;
    height: auto !important;
  }
}